@import "/src/colours.scss";

.ProjectCarousel {
  padding: 0 30vw;
  display: flex;
  max-height: 80%;
  min-height: 80%;
}

.ProjectCarousel-project {
  color: $primary-color;
  border-color: $primary-color;
  transition: 0.3s;
}

.ProjectCarousel-project:hover {
  color: $selected-color;
  border-color: $selected-color;
  scale: 1.02;
  transition: 0.3s;
}