@import "/src/colours.scss";
@import "/src/global.scss";

.NavbarLogoLink-inactive {
  opacity: 1;
  transition: 0.3s;
}

.NavbarLogoLink-inactive:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.NavbarLogoLink-active {
  opacity: 1;
  transition: 0.3s;
}

.NavbarLogoLink-active:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.NavbarLogoLink-logo {
  max-height: $logo-height;
}

.NavbarLogoLink {
  text-align: center;
  max-height: 100%;
}