@import "/src/colours.scss";

.ProjectGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ProjectGrid-project {
  color: $text-primary-color;
  border-color: $text-primary-color;
  transition: 0.3s;
}

.ProjectGrid-project:hover {
  color: $text-hover-color;
  border-color: $text-hover-color;
  scale: 1.02;
  transition: 0.3s;
}