@import "/src/colours.scss";

.ProjectCarouselProject {
  border: 1px solid;
  border-radius: 10px;
  width: 15vw;
  cursor: pointer;
  margin: 10px;
  height: 100%;
}

.ProjectCarouselProject-img {
  height: auto;
  width: 20%;
  border-radius: 10px;
}