@import "/src/colours.scss";

.ProjectCarouselProject {
  color: $text-primary-color;
  height: 70%;
  transition: 0.3s;
  border: 1px solid $project-border-color;
  border-radius: 10px;
  width: 25vw;
  cursor: pointer;
  margin: 10px;

  img {
    transition: 0.3s;
    filter: grayscale(80%);
  }
}

.ProjectCarouselProject:hover {
  color: $text-hover-color;
  border-color: $project-border-hover-color;
  scale: 1.02;
  transition: 0.3s;

  img {
    transition: 0.3s;
    filter: grayscale(0%);
  }
}

.ProjectCarouselProject-img {
  height: auto;
  width: 70%;
  border-radius: 5px;
  margin: 0 0 2rem 0;
}

.ProjectCarouselProject-content {
  margin: 4rem 0 0 0;
}