@import "/src/colours.scss";

a {
  text-decoration: none;
}

.NavbarLink-inactive {
  font-size: 40px;
  color: $navbar-link-inactive-color;
  transition: 0.3s;
}

.NavbarLink-inactive:hover {
  color: $navbar-link-hover-color;
  transition: 0.3s;
}

.NavbarLink-active {
  font-size: 40px;
  color: $navbar-link-active-color;
  transition: 0.3s;
}

.NavbarLink-active:hover {
  font-size: 40px;
  color: $navbar-link-active-hover-color;
  transition: 0.3s;
}