@import "/src/colours.scss";
@import "/src/global.scss";

a {
  text-decoration: none;
}

.NavbarLink-inactive {
  font-size: $navbar-link-font-size;
  color: $navbar-link-inactive-color;
  transition: 0.3s;
}

.NavbarLink-inactive:hover {
  color: $navbar-link-hover-color;
  transition: 0.3s;
}

.NavbarLink-active {
  font-size: $navbar-link-font-size;
  color: $navbar-link-active-color;
  transition: 0.3s;
}

.NavbarLink-active:hover {
  color: $navbar-link-active-hover-color;
  transition: 0.3s;
}