@import "/src/colours.scss";

a {
  text-decoration: none;
}

.NavbarLink-inactive {
  font-size: 40px;
  color: $primary-color;
  transition: 0.3s;
}

.NavbarLink-inactive:hover {
  color: $selected-color;
  transition: 0.3s;
}

.NavbarLink-active {
  font-size: 40px;
  color: $selected-color;
  transition: 0.3s;
}

.NavbarLink-active:hover {
  font-size: 40px;
  color: $white;
  transition: 0.3s;
}