@import '/src/colours.scss';

.App {
  background-color: $background-color;
}

.App-div {
  min-height: 100vh;
}

.App-page {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 0 1rem 0;
}