@import '/src/colours.scss';

.App {
  background-color: $background-color;
  min-height: 100vh;
}

.App-page {
  text-align: center;
  display: flex;
  min-height: 90vh;
  overflow-x: scroll;
  padding: 0;
}

.App-navbar {
  height: 10vh;
}