$background-color: #151E3F;
$primary-color: #F2F3D9;
$selected-color: #DC9E82;
$border-color: #C16E70;
$text-color: #F2F3D9;
$navbar-color: #C16E70;

// $background-color: #1B1B1E;
// $primary-color: #12EAEA;
// $selected-color: #D62246;
// $border-color: #12EAEA;
// $text-color: #A0F8F8;

$light-background-color: #E0C1B3;
$light-primary-color: #4A314D;
$light-secondary-background-color: #4B1D3F;
$light-secondary-color: #D62246;

$white: #FFFFFF;
$black: #000000;

