$background-color: #7A5C61;

$text-primary-color: #000000;
$text-hover-color: #DC9E82;

$section-border-color: #000000;
$project-border-color: #000000;
$project-border-hover-color: #D9BCA9;

$text-color: #F2F3D9;


$navbar-color: #D9BCA9;
$navbar-link-inactive-color: #000000;
$navbar-link-hover-color: #FFFFFF;
$navbar-link-active-color: #C16E70;
$navbar-link-active-hover-color: #FFFFFF;

// $background-color: #1B1B1E;
// $text-primary-color: #12EAEA;
// $text-hover-color: #D62246;
// $section-border-color: #12EAEA;
// $text-color: #A0F8F8;

$light-background-color: #E0C1B3;
$light-primary-color: #4A314D;
$light-secondary-background-color: #4B1D3F;
$light-secondary-color: #D62246;

$white: #FFFFFF;
$black: #000000;

